*{
    color: white;
    text-decoration: none;
    background-image: url("https://www.wallpapertip.com/wmimgs/84-841464_liked-like-share-data-src-widescreen-dark-wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

